/* =========================================
   Routes
   ========================================= */
@route --home {
  pathname: "/";
}

@route --movie-details {
  pathname: "/movie/:movie";
}

@route --person-details {
  pathname: "/person/:person";
}

/* =========================================
   Base & Reset
   ========================================= */
:root {
  font-family: roboto;
}

body {
  margin: 0;
  font-family: roboto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
}

h1 {
  text-wrap: wrap;
  margin: 10px;
  max-width: calc(100% - 120px);
  font-size: 20px;
}

h2 {
  text-align: left;
}

/* Shared Component Styles */
.overview, h1 {
  background: rgba(255, 255, 255, 0.7);
}

/* =========================================
   Layout
   ========================================= */
body > header {
  position: fixed;
  z-index: 2;
  /* Navigation Container */
  > nav.top-nav {
    flex: 1;
    display: grid;
    grid-template-areas: "logo . search-icon";
    grid-template-columns: min-content 1fr min-content;

    .logo {
      grid-area: logo;
      font-size: 30px;
      padding: 5px;
      margin: 5px;
      background: white;
      opacity: 0.9;
      border: 2px solid grey;
      corner-shape: squircle;
      border-radius: 40%;
      view-transition-name: match-element;
      @navigation (at: --home) {
        display: none;
      }
    }

    .search-icon {
      grid-area: search;
    }
  }

  /* Menu Button */
  button[commandfor="menu"] {
    appearance: none;
    border-radius: 3px;
  }

  /* Genre Selector */
  > #genre-selector {
    #genre-list {
      @navigation (at: movie-details) {
        display: none;
      }

      li {
        list-style: none;
        white-space: nowrap;
        margin: 3px;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

body > footer {
  position: fixed;
  bottom: 0;

  > nav {
    display: flex;
  }
}

main > .movie-carousel,
main > .person-carousel {
  scroll-timeline-name: --carousel;
  scroll-timeline-axis: inline;
}

section {
  align-self: flex-start;
}

section.movies {
  padding-left: 10px;
}

/* =========================================
   Components
   ========================================= */

/* Hero */
.hero {
  width: 300px;
  height: 450px;
  border-radius: 20% 10%;
  corner-shape: superellipse(1.2);
  box-shadow: 4px 4px 2px 0 rgba(255, 122, 173, 0.4);
  border: 2px solid black;
}

/* Overview */
.overview {
  height: 150px;
  max-width: 90vw;
  font-size: 14px;
  overflow: auto;
  &:empty {
    visibility: hidden;
  }
} .default-item .overview {
  view-transition-name: overview;
}

/* Movie List */
.movie-list {
  display: flex;
  overflow-x: scroll;
  max-width: 100svw;
  scrollbar-width: 0;
  height: 320px;
  padding: 10px 0;

  li {
    list-style: none;
    margin-right: 20px;
    min-width: 200px;
    height: 300px;
    display: grid;

    a.movie-thumb {
      text-decoration: none;
      position: relative;
      grid-area: 1/1/2/2;
      border-radius: 20% 10%;
      corner-shape: superellipse(1.2);
      box-shadow: 4px 4px 2px 0 rgba(255, 122, 173, 0.4);
      overflow: hidden;
      border: 2px solid black;

      &:focus-within {
        outline: 4px solid orange;
        outline-offset: 4px;
      }

      .thumb {
        position: absolute;
        inset: 0;
      }

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        color: rebeccapurple;
        padding: 2px 20px;
      }
    }
  }
}

/* Carousels */
.movie-carousel,
.person-carousel {
  max-width: 100svw;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;

  > li {
    scroll-snap-align: start;
    min-width: 100svw;
  }
}

/* Details Pages */
.movie-details,
.person-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100svw;
}

/* Cast */
.cast {
  display: flex;
  overflow-x: scroll;
  max-width: 100svw;
  background: rgba(155, 255, 255, 0.2);

  li {
    padding: 10px;
    min-width: min-content;

    a {
      text-decoration: none;
      text-align: center;
    }

    img {
      border-radius: 50%;
      corner-shape: squircle;
    }
  }
}

/* Teaser */
.teaser a {
  text-decoration: none;
}

/* No Support Warning */
#no-support {
  display: none;
}

html[data-supported="false"] #no-support {
  display: block;
  position: fixed;
  inset: 0;
  background: yellow;
}

/* Utilities */
:is(.prev, .next):empty {
  display: none;
}

@navigation (at: --movie-details) {
  #genre-list {
    display: none;
  }
}

/* =========================================
   View Transitions & Animations
   ========================================= */
@view-transition {
  navigation: auto;
}

.backdrop {
  position: fixed;
  inset: 0;
  width: 100svw;
  height: 100svh;
  object-fit: cover;
  z-index: -1;
  filter: blur(1px) grayscale(0.3) opacity(0.8);
  view-transition-name: backdrop;
  animation-timeline: --carousel;

  img {
    inset: 0;
    position: absolute;
  }

  .prev,
  .next {
    opacity: 0;
  }

  .current {
    opacity: 1;
  }
}

.default-item {
  scroll-initial-target: nearest;
  .hero {
    view-transition-name: attr(data-poster-for type(<custom-ident>));
    view-transition-class: poster;
  }

  h1 {
    view-transition-name: title;
  }
}

@keyframes effecty {
  from {
    opacity: 0;
  }
}

html::view-transition-group(refreshy) {
  animation-name: effecty;
  animation-duration: 3s;
}

@navigation (from: --person-details) {
  @navigation (to: --person-details) {
    #main {
      view-transition-name: rerfreshy;
    }
  }
}

@navigation (from: --movie-details) {
  @navigation (to: --person-details) {
    @navigation (at: --movie-details) {
      .default-item .movie-details .hero {
        view-transition-name: fading-hero;
        view-transition-class: fading;
      }
    }
  }
}

@navigation (from: --person-details) {
  @navigation (to: --movie-details) {
    @navigation (at: --person-details) {
      .default-item .person-details .hero {
        view-transition-name: fading-hero;
        view-transition-class: fading;
      }
    }
  }
}

a:link-to(--person-details with navigation-param(person)),
a:link-to(--movie-details with navigation-param(movie)) {
  .thumb {
    view-transition-name: attr(data-poster-for type(<custom-ident>));
    view-transition-class: poster;
  }
}

@keyframes blurby {
  from {
    filter: blur(3px);
  }
}

:root:active-view-transition-type(instant) {
  * {
    view-transition-name: none !important;
  }

  &::view-transition-group(root) {
    animation-name: blurby;
  }
}

:root::view-transition-group(backdrop) {
  z-index: -1;
}

:root {
  view-transition-name: none;
}

:root::view-transition-group(*.mini-carousel) {
  opacity: 0;
}

.mini-carousel {
  height: 250px;
  view-transition-name: match-element;
  view-transition-class: mini-carousel;
}

:root[data-nav-state="committed"] {
  &::view-transition-old(*.poster),
  &::view-transition-new(*.poster),
  &::view-transition-image-pair(*.poster) {
    animation-timing-function: step-end;
  }
}
:root:not([data-nav-state="committed"]) {
  a:link-to(--person-details with navigation-param(person)),
  a:link-to(--movie-details with navigation-param(movie)) {
    .thumb {
      border-radius: 20% 10%;
      corner-shape: superellipse(1.2);
      box-shadow: 4px 4px 2px 0 rgba(255, 122, 173, 0.4);
      border: 2px solid black;
    }
  }
}
